body {
    background: rgba(0, 0, 0, 0);
    padding: 0 !important;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Raleway', Arial, sans-serif;
}

.section {
    width: 100%;
    min-height: 5em;
    background-size: cover;
    padding: 1em;
}

/* Section one*/
.first-section {
    background-color: #fff;
}

h3 {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0 5em;
}

/* Section two */

.second-section {
    /*padding-top: 3em;
    background-color: #649e92;
    padding-bottom: 4em;*/
}

label {
    font-family: 'Tajawal', Arial, sans-serif;
    font-size: 1.5em;
}

.menu {
    font-size: 1.5em;
    padding: 10px 8px 10px 14px;
    position: relative;
}

.third-section {
    /*background-color: #595F72;
    padding-bottom: 4em;*/
}


.fourth-section {
    /*padding-top: 2em;
    background-color: #6495ed;
    padding-bottom: 4em;*/
}

.fifth-section {
    /*padding-top: 2em;
    background-color: #547B77;
    padding-bottom: 4em;*/
}

.sixth-section {
    /*padding-top: 2em;
    background-color: #a13d61;
    padding-bottom: 4em;*/
}

button {
    margin: 2em;
}